* {
    margin: 0;
}

body{
    background-image: url(/Images/starBackground.jpeg);
}

/* navigation */
#navbar {
    width: 100%;
    background-color: black;
}
.nav-list {
    display: flex;
    justify-content: right;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.nav-list a {
    display: block;
    color: rgb(209 209 214);
    padding: 2rem;
    font-size: xx-large;
    margin-right: 1rem;
    text-decoration: none;
}

.nav-list a:hover {
    color: rgb(242 242 247);
}

header {
    display: flex;
    justify-content: space-around;
    color: gold;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 80px;
    margin: 3rem;
}

figure {
    background-color: black;
    margin: 2rem;
}

img {
    border: 8px solid gold;
}

figcaption {
    color: gold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: xx-large;
}

main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

footer {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-size: x-large;
    font-family: 'Source Sans Pro', sans-serif;
    color: white
}