* {
    background-image: url(/Images/starBackground.jpeg);
}

header {
    display: flex;
    justify-content: space-around;
    color: gold;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 80px;
}

figure {
    background-color: black;
}

img {
    border: 8px solid gold;
}

figcaption {
    color: white;
    text-align: center;
    font-size: xx-large;
}

main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}