* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}


/* navigation */
#navbar {
    width: 100%;
    position: fixed;
    background-color: #7829da;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav-list a {
    display: block;
    text-decoration: none;
    color: #f0f0f0;
    padding: 1.5rem;
    font-size: xx-large;
    margin-right: 1rem;
}

/* pseudo class */
.nav-list a:hover {
    background-color: #9a4bfc;
}

/* welcome section */
#welcome-section {
    background-color: #7289da;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* project section */
#projects {
    display: flex;
    justify-content: center;
}

.projects-grid {
    width: 1280;
    display: flex;
    flex-wrap: wrap;
}

.project-tile {
    margin: 2rem;
}

/* contact section */
#contact {
    height: 25vh;
    background-color: #dea5a4;
}