* {
    margin: 0;
    box-sizing: border-box;
    background-image: url(/Images/starBackground.jpeg);
}

header {
    display: flex;
    justify-content: space-around;
    color: gold;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 80px;
   
    padding: 1rem;
    background-image: url(/Images/starBackground.jpeg);
}

button {
    background-image: none;
    font-size: x-large;
    background-color: gold;
    border-radius: 8px;
}

button:hover {
    background-color: goldenrod;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-image: url(/Images/starBackground.jpeg);
}

figure {
    margin: 15px;
    border: 8px solid gold;
}

figure img{
    width: 200px;
}

figcaption {
    background-color: gold;
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: x-large;
}