* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 2em 0;
    background-image: url(/Images/starBackground.jpeg);
}

button {
    font-size: x-large;
    background-color: gold;
    border-radius: 8px;
}

button:hover {
    background-color: goldenrod;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-image: url(/Images/starBackground.jpeg);
}

figure {
    margin: 15px;
    border: 8px solid gold;
}

figure img{
    width: 200px;
}

figcaption {
    background-color: gold;
    text-align: center;
    margin: 0;
}