* {
    margin: 0;
    box-sizing: border-box;
}

.senators {
    flex-wrap: wrap;
    display: flex;
}

figure {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: .5em;
}

figcaption {
    text-align: center;
}

.demBorder {
    border-width: 10px;
    border-color: blue;
    border-radius: 1.5em;
}

.repBorder{
    border-width: 10px;
    border-color: red;
    border-radius: 1.5em;
}

.otherBorder{
    border-width: 10px;
    border-color: green;
    border-radius: 1.5em;
}