* {
    margin: 0;
    box-sizing: border-box;
    background-color: tan;
}

.senators {
    flex-wrap: wrap;
    display: flex;
}

figure {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: .5em;
}

figcaption {
    text-align: center;
}

.demBorder {
    border-width: 10px;
    border-color: blue;
    border-radius: 1.5em;
}

.repBorder{
    border-width: 10px;
    border-color: red;
    border-radius: 1.5em;
}

.otherBorder{
    border-width: 10px;
    border-color: green;
    border-radius: 1.5em;
}

h1 {
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 100px;
    display: flex;
    justify-content: space-around;
    margin: 1rem
}

h3{
    display: flex;
    justify-content: space-around;
    margin: 1rem
}